body {
    font-family: 'Roboto Slab', serif;
    background-color: black;
}

#content {
    color: white;
    position: relative;
    transform: translateY(125%);
}

h1 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 0;
    line-height: 0.5em;
    vertical-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
    padding: 0;
    vertical-align: center;
}

#email-entry {
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

::placeholder {
    font-family: 'Roboto Slab', serif;
}

input {
    min-width: 220px;
    max-width: 220px;
    min-height: 50px;
    max-height: 50px;
    font-size: 0.85em;
    padding: 0.2em;
    margin-top: 1em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    border-radius: 2px;
    border-color: transparent;
    font-family: 'Roboto Slab', serif;
}

#submit {
    min-width: 100px;
    max-width: 100px;
    min-height: 60px;
    max-height: 60px;
}

#i3 {
    margin: 0;
    position: relative;
    transform: translateY(660%);
}

#pfp {
    position: absolute;
    transform: translateX(10%) translateY(-120%);
}

